.auth {
    height: 100%;

    .auth__form {
        width: 400px;
        margin: 0 auto;
        text-align: center;

        .auth__form-submit {
            margin-top: 30px;
        }
    }

    #auth__form--authorize {
        display: none;
    }
}




