.mdc-icon-button.md-36 {
    font-size: 36px;
    padding: 18px;
    width: 72px;
    height: 72px;

    .material-icons {
        font-size: 36px;
    }
}

.mdc-icon-button.md-48 {
    font-size: 48px;
    padding: 24px;
    width: 96px;
    height: 96px;

    .material-icons {
        font-size: 48px;
    }
}
